Source: go-elasticsearch
Section: devel
Priority: optional
Maintainer: Marcel Gebhardt <marcel@codehardt.de>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any,
               elasticsearch (>= 6.0)
Standards-Version: 4.1.1
XS-Go-Import-Path: github.com/Codehardt/go-elasticsearch

Package: go-elasticsearch-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple Golang Library for Elasticsearch 6
