Source: go-elasticsearch
Section: devel
Priority: optional
Maintainer: Marcel Gebhardt <github@codehardt.de>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 4.1.1
XS-Go-Import-Path: github.com/Codehardt/go-elasticsearch

Package: go-elasticsearch-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Simple Golang Library for Elasticsearch 6
